<div class="container">
  <h2>Lista de Clientes</h2>

  <div *ngIf="notification" class="notification" [ngClass]="notification.type">
    {{ notification.message }}
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Fecha de Nacimiento</th>
        <th>Fecha Probable de Muerte</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.nombre }}</td>
        <td>{{ client.apellido }}</td>
        <td>{{ client.edad }}</td>
        <td>{{ formatDate(client.fechaNacimiento) }}</td>
        <td>{{ formatDate(client.fechaMuerte) }}</td>
        <td>
          <button class="btn btn-primary" (click)="openEditModal(client)">
            Editar
          </button>
          <button class="btn btn-danger" (click)="openDeleteModal(client)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal" *ngIf="showEditModal">
    <div class="modal-content">
      <h3>Editar Cliente</h3>
      <form>
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="clientToEdit.nombre" name="nombre" />

        <label>Apellido:</label>
        <input
          type="text"
          [(ngModel)]="clientToEdit.apellido"
          name="apellido"
        />

        <label>Edad:</label>
        <input type="number" [(ngModel)]="clientToEdit.edad" name="edad" />

        <label>Fecha de Nacimiento:</label>
        <input
          type="date"
          [(ngModel)]="clientToEdit.fechaNacimiento"
          name="fechaNacimiento"
        />

        <div class="modal-actions">
          <button
            type="button"
            class="btn btn-success"
            (click)="saveClientEdits()"
          >
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModals()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal" *ngIf="showDeleteModal">
    <div class="modal-content">
      <h3>Confirmación</h3>
      <p>¿Está seguro de querer eliminar este cliente?</p>
      <div class="modal-actions">
        <button class="btn btn-danger" (click)="confirmDeleteClient()">
          Confirmar
        </button>
        <button class="btn btn-secondary" (click)="closeModals()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
