.home-container {
  text-align: center;
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-header h1 {
  font-size: 2.5rem;
  color: #34495e;
  margin-bottom: 0.5rem;
}

.home-header p {
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-bottom: 2rem;
}

.home-actions {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap; /* Permite que los elementos se ajusten si es necesario */
}

.action-card {
  background: #ececec;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 250px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Asegura que los íconos estén centrados */
}

.action-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.action-card img {
  max-width: 100px;
  margin-bottom: 1rem;
}

.action-card h3 {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.action-card p {
  font-size: 1rem;
  color: #7f8c8d;
}
