<!-- <div class="container">
  <h2>Estadísticas de Clientes</h2>

  <div class="stats-cards">
    <div class="card promedio">
      <i class="icon-user"></i>
      <h3>{{ stats.promedioEdad }} años</h3>
      <p>Promedio de Edad</p>
    </div>
    <div class="card desviacion">
      <i class="icon-chart"></i>
      <h3>{{ stats.desviacionEstandar }}</h3>
      <p>Desviación Estándar</p>
    </div>
  </div>

  <div class="chart-container">
    <canvas id="ageChart"></canvas>
  </div>
</div> -->
<div class="container">
  <div class="card-container">
    <h2>Estadísticas de Clientes</h2>

    <!-- Tarjetas de Estadísticas -->
    <div class="stats-cards">
      <div class="card promedio">
        <i class="icon-user"></i>
        <h3>{{ stats.promedioEdad }} años</h3>
        <p>Promedio de Edad</p>
      </div>
      <div class="card desviacion">
        <i class="icon-chart"></i>
        <h3>{{ stats.desviacionEstandar }}</h3>
        <p>Desviación Estándar</p>
      </div>
    </div>

    <!-- Gráfico -->
    <div class="chart-container">
      <canvas id="ageChart"></canvas>
    </div>
  </div>
</div>
